/.clang-format		@mkschreder
/.gitattributes  @mkschreder
/.githooks/  @mkschreder
/.gitlab-ci.yml		@mkschreder
/.gitlab/		@mkschreder
/.gitlab/	@mkschreder
/CMakeLists.txt		@mkschreder
/CODEOWNERS		@mkschreder
/Kconfig		@mkschreder
/LICENSE		@mkschreder
/README.rst		@mkschreder
/apps/		@mkschreder
/boards/		@mkschreder
/boards/arm/custom_board/		@mkschreder
/cmake/		@mkschreder
/doc/		@mkschreder
/drivers/		@mkschreder
/dts/		@mkschreder
/include/		@mkschreder
/lib/		@mkschreder
/modules/		@mkschreder
/modules/.empty		@mkschreder
/patches/		@mkschreder
/platform-env.sh	@mkschreder
/post-build/	 @mkschreder
/renode/		@mkschreder
/samples/		@mkschreder
/scripts/		@mkschreder
/scrum/		@mkschreder
/testbench/   @mkschreder
/tests/		@mkschreder
/west.yml		@mkschreder
/zephyr/	@mkschreder
