# SPDX-License-Identifier: Apache 2.0
# Copyright 2022 Martin Schröder <info@swedishembedded.com>
# Consulting: https://swedishembedded.com/go
# Training: https://swedishembedded.com/tag/training

config EXAMPLE_DRIVER
	bool "Example driver"
	help
		This is our example driver.

config EXAMPLE_SENSOR
	bool "Example sensor"
	help
		This is our example sensor.
