# Copyright (c) 2022 Martin Schröder
# SPDX-License-Identifier: Apache-2.0
# Consulting: https://swedishembedded.com/go
# Training: https://swedishembedded.com/tag/training

config EXAMPLE_LIBRARY
	bool "Example library"
	help
		Example library
